.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0.5rem;
  border: none;
  background: none;
}

.icon-button:hover {
  color: darkred;
}
